<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2 id="page-title">About Me</h2>
        <div class="container">
            <p>Hi! I'm {{dev}}, a computer engineering student earning a {{profession}}.<br>
                This is my very first internet-based project. I'm now investigating the world of web development with
                NodeJS and am particularly interested in the topic of cyber security.<br>
                Please send any thoughts or feedback on this mini-project to the following email address.
            </p>
            <p>Email address: {{email}}</p>
            <p>Github repository: <a href="https://github.com/Aalok-Kesarkar/weather-application">Github</a></p>
        </div>
        <p style="color: gray;">This is simple weather app which is developed using MapBox API to resolve location name
            into corresponding
            latitude and longitude and WeatherStack API to get weather data.
        </p>
    </div>
    {{>footer}}
</body>

</html>