<header>
    <link rel="stylesheet" href="/css/style.css">
</header>

<p id="footer_text">Developed by
    <a id="linked-link" href="https://www.linkedin.com/in/aalok-kesarkar">Aalok Kesarkar</a>
</p>