<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<h1 class="header">Weather App</h1>
<div id="navigation-links">
    <a href="/"><u>Weather</u></a>
    <a href="/contact"><u>Contact</u></a>
    <a href="/about"><u>About Me</u></a>
</div>